body {
    background-color: hsl(233, 47%, 7%);
}

img {
    width: 100%;
}
.contenedor {
    background-color: hsl(244, 38%, 16%);
    width: 375px;
    text-align: center;
}

.containertext {
    padding: 25px;
}

h1 {
    color: white;
    font-family: 'Lexend Deca', sans-serif;
    
}

h1 span {
    color: hsl(277, 64%, 61%);
}

p {
    color: hsla(0, 0%, 100%, 0.6);
    font-family: 'Inter', sans-serif;
    font-size: 18px
}

.arriba {
    color: white;
    font-weight: bold;
    font-family: 'Lexend Deca', sans-serif;
    display: block;
    margin-top: 15px;
}

.abajo {
    color: hsla(0, 0%, 100%, 0.6);
    font-family: 'Inter', sans-serif;
    font-size: 10px
}